<div id="navbar">
    <mat-button-toggle-group id="nav-buttons-group" vertical=true>
        <mat-button-toggle class="nav-button">
            <span class="material-icons nav-button-ico">
                storage
            </span>
            <div class="nav-button-lable">База</div>
        </mat-button-toggle>
        <mat-button-toggle class="nav-button">
            <span class="material-icons nav-button-ico">
                assignment
            </span>
            <div class="nav-button-lable">Заказы</div>
        </mat-button-toggle>
        <mat-button-toggle class="nav-button">
            <span class="material-icons nav-button-ico">
                history
            </span>
            <div class="nav-button-lable">История</div>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>