<div class="db-filter">
    <p>Фильтры</p>
    <mat-form-field appearance="fill">
        <mat-label>Поиск</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Марка</mat-label>
        <mat-select>
            <mat-option value="option">BMW</mat-option>
            <mat-option value="option">Toyota</mat-option>
            <mat-option value="option">Mercedes</mat-option>
            <mat-option value="option">Lada</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Производитель</mat-label>
        <mat-select>
            <mat-option value="option">Производитель 1</mat-option>
            <mat-option value="option">Производитель 2</mat-option>
            <mat-option value="option">Производитель 3</mat-option>
            <mat-option value="option">Производитель 4</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="db-control-buttons">
    <button mat-stroked-button>Продать</button>
    <button mat-flat-button color="warn">Возврат</button>
    <button mat-flat-button color="primary">Приём</button>
    <button mat-flat-button color="accent">Заказ</button>
    <button mat-stroked-button>Изменить</button>
</div>