<div class="db-control-panel">

    <!-- Контейнер фильтров -->
    <div class="db-filter">
        <p>Фильтры</p>
        <!-- Фильтр по всем элементам -->
        <mat-form-field appearance="fill">
            <mat-label>Поиск</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="По номенклатуре">
        </mat-form-field>

        <!-- В разработке -->
        <!-- Фильтр элементов по маркам 
        <mat-form-field appearance="fill">
            <mat-label>Марка</mat-label>
            <mat-select (selectionChange)="selectFilter($event)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let mark of marks" [value]="mark"> {{mark}} </mat-option>
            </mat-select>
        </mat-form-field>
        -->
        <!-- Фильтр элементов по производителю 
        <mat-form-field appearance="fill">
            <mat-label>Производитель</mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">{{manufacturer}}</mat-option>
            </mat-select>
        </mat-form-field>
        -->

    </div>

    <!-- Кнопки управления -->
    <div class="db-control-buttons">
        <button mat-stroked-button (click)="openDialogSell()">Продать</button>
        <button mat-flat-button color="warn">Возврат</button>
        <button mat-flat-button color="primary">Приём</button>
        <button mat-flat-button color="accent">Заказ</button>
        <button mat-stroked-button>Изменить</button>
    </div>

</div>

<!-- Инициализация таблицы mat-table -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 db-table">
    <!-- Инициализация стобца с элементами mat-select -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Столбец номеров -->
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.number}} </td>
    </ng-container>

    <!-- Столбец номенклатуры -->
    <ng-container matColumnDef="nomenclature">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Номенклатура </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.nomenclature}} </td>
    </ng-container>

    <!-- Столбец производителя -->
    <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Производитель </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.manufacturer}} </td>
    </ng-container>

    <!-- Столбец марок -->
    <ng-container matColumnDef="mark">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Марка </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.mark}} </td>
    </ng-container>

    <!-- Столбец артикулов -->
    <ng-container matColumnDef="vcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Артикул </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.vcode}} </td>
    </ng-container>

    <!-- Столбец оригинальных номеров -->
    <ng-container matColumnDef="orinumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ориг.номер </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.orinumber}} </td>
    </ng-container>

    <!-- Столбец минимального остатка -->
    <!-- <ng-container matColumnDef="minbalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Мин.ост. </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.minbalance}} </td>
    </ng-container> -->

    <!-- Столбец остатка -->
    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Остаток </th>
        <td mat-cell *matCellDef="let autopart" [ngStyle]="{'background-color': autopart.balance <= autopart.minbalance? 'orange' : 'snow'}"> {{autopart.balance}} </td>
    </ng-container>

    <!-- Столбец закцпочной цены -->
    <!-- <ng-container matColumnDef="purprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Закуп.цена </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.purprice}} </td>
    </ng-container> -->

    <!-- Столбец цены -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.price}} </td>
    </ng-container>

    <!-- Столбец суммы стоимости запчастей на складе -->
    <ng-container matColumnDef="summ">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Сумма </th>
        <td mat-cell *matCellDef="let autopart"> {{autopart.balance*autopart.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>